* {
  box-sizing: border-box;
}

html, body {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  height: 100vh;
  max-height: 100vh;
  scroll-behavior: smooth;
}

/* .App {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: auto;
} */

section{
  scroll-snap-align: start;
  height: 100vh;
  position: relative;
}



